<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Upload a New Game</h1>
    <%= render 'form' %>
    <div class="col-md-12 ">
        <div class="row text-center">
          <%= link_to '<<Back', games_path, class: "btn btn-default" %></div>
         </div>
    </div>
  </div>
</div>
